My_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "f3257e48-2e03-40bf-8e75-e95a9edb609f",
      "name": "When chat message received",
      "webhookId": "21bdc6bf-9a72-441e-96b0-2d491647fb2f"
    },
    {
      "parameters": {
        "url": "=https://google.com/complete/search?output=toolbar&gl=US&q={{ $json.chatInput }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "ec44b109-5516-4355-bbb9-414f6c20766f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        440,
        0
      ],
      "id": "a932a2ab-7bd0-4757-a015-6fcc57b662cb",
      "name": "XML"
    },
    {
      "parameters": {
        "fieldToSplitOut": "toplevel.CompleteSuggestion",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        660,
        0
      ],
      "id": "53a03448-eae9-4112-a73b-8d24a5891406",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c11c02f0-bc83-4930-8a40-9828e5d7c8ac",
              "name": "Keywords",
              "value": "={{ $json.suggestion.data }}",
              "type": "array"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        0
      ],
      "id": "a8421fd0-cf04-497e-b370-8a85a30f741f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Keywords"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1100,
        0
      ],
      "id": "9c591e04-55d1-4c58-a37b-a8d3fc7f860b",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1320,
        0
      ],
      "id": "1d090661-b4a0-424d-8e40-f9e2a6fd33ed",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2480,
        280
      ],
      "id": "b0fdbaef-9d66-4286-aaeb-2d54d11679d8",
      "name": "Wait",
      "webhookId": "d1e87544-94f1-4646-ba3b-e6b85085aa06"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=for each keyword {{ $json.Keywords }} create a linkedin post , no emoji ,and explaining the keyword in around 250 words.Also select only one caption for the post since we can only add one caption to each post\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1680,
        -40
      ],
      "id": "937fe589-c936-4a08-9f94-fec3c006aed7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1580,
        120
      ],
      "id": "cee35ca9-d23f-4783-baaa-d9815621e6b1",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "O9IM6OJRKcBmjpKZ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1QhnQsUZPV37Wl58QAfNyCrQ5Vtel35Pg6uMK8i4p550/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QhnQsUZPV37Wl58QAfNyCrQ5Vtel35Pg6uMK8i4p550/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "posts": "={{ $json.output }}",
            "keywords ": "={{ $('Loop Over Items').item.json.Keywords }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "keywords ",
              "displayName": "keywords ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "posts",
              "displayName": "posts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2400,
        -120
      ],
      "id": "d2c16ff8-5e94-42e8-b6a6-1e865be8a117",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BTnJx52zSibsiuwM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2040,
        -40
      ],
      "id": "dc34f148-b97d-4082-b3c5-3e377806e78d",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "authentication": "communityManagement",
        "person": "={{ $ifEmpty(name,2) }}",
        "text": "nothing",
        "additionalFields": {
          "visibility": "PUBLIC"
        }
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        2700,
        -140
      ],
      "id": "a1309d15-7c40-43a1-949f-498070d2250d",
      "name": "LinkedIn",
      "credentials": {
        "linkedInCommunityManagementOAuth2Api": {
          "id": "h1QNpTucpqfObk4h",
          "name": "LinkedIn account 4"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9d826b85-4e81-45c8-8924-0d20afd49aa1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f4ae1adf5c7f727fb03a38efe5f4385df0b0222ef89fd2bda5f5a96c9f6a117f"
  },
  "id": "72foe8KrVXo7I36E",
  "tags": []
}